*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    width:80vw;
    background-color:pink;
    border:3vh solid red;
    margin: 15vh;
    padding:1vh;

}

.firstbox {
    background-color: aqua;
    padding: 15vh;

}

.secondbox {
    background-color:yellow;
    width:40vw;
    height:20vh;
    margin:5vw;
    border:2vh pink solid;
}

#blue-text {
    color:blue;

}

.green-text{
    color:green;
}

.purple-text{
    color:purple;
}
